<!--  New Item Added -->

<div class="newitem_container">

    <%= image_tag("slider.png", :alt => "slider image") %>

	<p class="What-items-are-you-l">
		What items are you listing?
	</p>
	<br>

	<%= form_for :item, url: user_new_item_path do |f| %>
		<%= f.text_field :name, class: 'listing_input', placeholder: 'Instant' %>

		<%= f.text_field :description, class: 'listing_input_1',  placeholder: 'Description' %>

		<br>
		<br>

		<p class="How-long-do-you-want">
			How long do you want to list the item for rent?
		</p>

		<br>
		
		<div class="selectWrapper">
			<select class="selectBox">
			  <option>A few days</option>
			  <option>3 days</option>
			  <option>5 days</option>
			  <option>1 week</option>
			  <option>1 + week(s)</option>
			</select>
		</div>

		<br>
		<br />

		<p class="Any-other-notes-to-t">
			Any other notes to the renter?
		</p>
		<br />

		<%= f.text_field :condition, class: 'item_condition', placeholder: 'Please clean the pot before returning. ' %>


		<p class="words_max">
			200 Words Max
		</p>

		<p class="How-much-would-you-l">
			How much would you like to charge per day??
		</p>

		<!-- <%= f.text_field :price, class: 'form-control', placeholder: 'price' %>
		<br /> -->
		
		<div class="selectWrapper">
			<%= f.select :price, [ ['$2', '2'], ['$5', '5'], ['$10', '10'], ['$15', '15'] , ['$20', '20'] ], prompt:'Select One', class:"selectBox2" %>
		</div>	

		<span class="perday"> /day</span>
		<p class="suggested_price">
			See suggested price
		</p>


		<!-- <%= f.text_field :description, class: 'form-control', placeholder: 'description' %> -->

		<p class="Please-upload-a-pict">
			Please upload a picture of your awesome item!
		</p>

		<%= image_tag("upload_image.png", :alt => "slider image") %>
		<br>
		<br>

		<%= f.submit 'NEXT', class: 'btn btn-primary' %>
		<br>
		<br>
		<br>
	<% end %>

</div>
